.cuerpo{
    background-color: antiquewhite;
    background-repeat: no-repeat;
    font-family: Poppins;
    height: 100%;
    display:grid;
    grid-template-columns: repeat(3,2fr);
    justify-items: center;
    align-items: center;


    
}
.target {
    background-color: white;
    color: black;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgb(218, 150, 150);
    transition: transform 0.3s;
    display: grid;
    align-items: center;
    justify-items: center;
    text-decoration: none;
    text-align: center;
}
    .target:hover {
        transform: perspective(420px) translateZ(40px);
    }
    .nomargin{
        margin: 0;
    }
.mascota{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: start;
    border-radius: 40px;
    height: 200px;
    width: 200px;

}
.mascota_img{
    border-radius: 40px;
}
.target_img{
    display: flex;
    flex-direction: column;
    align-items: center;
justify-items: center;
}
.category_name{
    text-align: center;
}
.target_general{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

@media (max-width:1650px) {
    .cuerpo{
        height: 100%;
        display:grid;
        grid-template-columns: repeat(2,3fr);
        justify-items: center;
        align-items: center;
    
        
    }

}
@media (max-width:800px) {
    .cuerpo{
        height: 100%;
        display:grid;
        grid-template-columns: repeat(1,6fr);
        justify-items: center;
        align-items: center;
    
        
    }
}
