.target_product{
    height: 950px;
    /* display: grid; */
    /* grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: center;
     */
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;

}
.product_datos{
    height: 800px;
    width: 500px;
    border: 1.5px solid black;
    border-radius: 10px;
    /* display: grid;
    grid-template-columns: repeat(1,2fr);
    justify-items: flex-start;
    align-items: flex-start; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  


}
.target_name{
    text-align: center;
}

.target_datos{
    height: 700px;
    display: grid;
    grid-template-columns: repeat(1,3fr);
    justify-items: center;
}
.target_description{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.5px solid black;
    border-radius: 10px;
    margin: 10px;
    width: 450px;

    
    
}
.contador{
    margin: 10px;
}
.contador_img{
    height: 100px;
}

.information{
    height: 430px;
}
.description{
    width: 450px;
    text-align: center;
    font-weight: normal;
    margin: 0;


}
.buy-finish{
    background-color: rgb(161, 207, 161);
    border-radius: 5px;
    text-decoration: none;

}

.centrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}
@media (max-width:1050px) {
    .product_datos{      
    
        width: 400px;
    
    }
.target_description{
    width: 350px;
}
.description{
    width: 350px;
}

.mascota_img{
    width: 400px;
}

}

@media (max-width:850px) {
    .product_datos{      
    
        width: 300px;
        height: 850px;
    
    }
.target_description{
    width: 250px;
}
.description{
    width: 250px;
    font-size: 20px;

}

.mascota_img{
    width: 300px;
}

}
@media (max-width:700px) {
    .product_datos{      
    
        width: 250px;
    
    }
.target_description{
    width: 200px;
}
.description{
    width: 200px;
    font-size: 20px;

}
.target_name{
    font-size: 10px;

}

.mascota_img{
    width: 250px;
}

}

@media (max-width:510px) {
    .target_product{
        height: 1200px;
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
         align-items: center;
    }

    .product_datos{      
    
        width: 250px;
        height: 850px;
   
    
    }
.target_description{
    width: 200px;
}
.description{
    width: 200px;
    font-size: 18px;

}
.target_name{
    font-size: 10px;

}

.mascota_img{
    width: 250px;
}


}


