.footer {
    background-color: black;
    color: white;
    /* height: 400px; */
    font-size: 20px;
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;

}


.menu li a {
    color: white;
}


.contactanos__datos {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contactanos__titulo{
    padding-left: 40px;
}

.contactanos_logo{
    padding-left: 150px;
}
@media (max-width:760px) {
    .footer{
        display: grid;
        grid-template-columns: repeat(1,2fr);
        align-items: center;
        align-content: center;
        justify-items: center;
    
        
    
        font-size: 15px;
    }

}
