/* .cuerpo{
    background-color: antiquewhite;
    background-repeat: no-repeat;
    font-family: Poppins;
    height: 800px;
    display:grid;
    grid-template-columns: repeat(3,2fr);
    justify-items: center;
    align-items: center;
} */